<h1>Soy el padre</h1>
<!-- <app-hijo 
[numeroHijo]="1" 
[edad]="10" 
[ciudad]="'Quito'"
(pedirPermiso)="escucharHijo($event)"
></app-hijo>
<app-hijo 
[numeroHijo]="2" 
[edad]="20" 
[ciudad]="'Cuenca'"
></app-hijo>
<app-hijo 
[numeroHijo]="3" 
[edad]="30" 
[ciudad]="'Guayaquil'"
></app-hijo> -->
<app-hijo
[anioHijo] = "anioPadre"
(respuestaEdad)="escucharHijo($event)"
></app-hijo>

<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-block btn-outline-dark">CLICK</button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<button><i class="fab fa-apple"></i></button>
<i class="fab fa-apple"></i>