<!-- <h1>Soy el hijo numero {{numeroHijo}} de manticore ya tengo {{edad}} años y naci {{fecha}} y soy de la ciudad de {{ciudad}}</h1> -->

<h2>El año que me da mi padre es {{anioHijo}}</h2>

<h3>{{ngOnInit()}}</h3>

